Portofolio/port.css
Portofolio/port.html
Portofolio/Fotoku/DSC_0111 copy-1.jpg
Portofolio/Fotoku/Web/Fotografii -1.png
Portofolio/Fotoku/Web/Komik-3.png
Portofolio/Fotoku/Web/lktn.png
Portofolio/Fotoku/Web/Physton b.png
Portofolio/Fotoku/Web/poster tradis revisi.png
scrip.html
Script.js
style.css
style2.css
styles.css
index.html
index1.html
index2.html
